.ls-2p {
  letter-spacing: 0.02em;
}

.testimonial-overlay {
  position: absolute;
  left: 20px;
  right: 0px;
  transform: translateY(-90%);

}

.rotate-180 {
  transform: rotate(180deg);
}

.h-180 {
  line-height: 1.8;
}
.bottom-25
{
  bottom: 25px;
}
