// Customize Bootstrap variables
$prefix:'TOTC-';// CSS variable prefix (default 'bs-')
$primary: #49BBBD;
$primary-dark:#252641;
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: $font-family-sans-serif;

$body-bg: #fff;
$body-color: #333;
$teal:#F48C06;
$gray-100:#B2B3CF;


//Link
$link-color:#5B5B5B;

// containers
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1365px;
$container-max-widths: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);
