header {
  nav a img{
    height: 83px;
    width: 114px;
  }
  .navbar-brand {
    font-weight: bold;
    color: $primary;
  }
  .nav-link {
    color: #333;
    &:hover {
      color: $primary;
    }
  }
}

main{
  .hero_section{
    background-color: #49BBBD;
    clip-path: ellipse(100% 100% at 50% 0%);
  }
  h1 span{
    color: $teal;
  }
  
.play-icon{
  height: 80px;
  width: 80px;
}
.play-icon img{
  height: 33px;
  width: 33px;
  margin-left: 3px;
}
}

footer{
  background-color: $primary-dark;
}
